extends layout

block content

	span(style='display : none;')
		img(src='/images/cross.svg')
		img(src='/images/circle.svg')
	div#hero
		div.hero-wrapper.animated.bounce
			div.hero-content-hidden-start
				div.hidden-content-start
					p Give your friend the following ID:
					b
						p#pid
					br
					p Waiting for your friend...
					img#waiting


			div.hero-content-hidden-join
				div.hidden-content-join
					p Enter the ID given by your friend:
					form#plyrIDForm  
						input(type='text' autocomplete="off" placeholder='id', id='plyrID')
						input(type='submit' id="playrJoinBtn" value='Join')

			div.hero-content
				span
					img(src='/images/cross-black.svg')
				span
					img(src='/images/circle-black.svg')

				br
				br
				br

				form#plyrNameForm
					input(type='text' autocomplete="off" placeholder='Name' id='plyrNAME')
					input(type='submit' value='Start' id='start')
					input(type='submit' value='Join' id='join')
				br
				br
				p#credits made by
				a(href="https://twitter.com/candhforlife") @candhforlife

	div#inGame
		div.in-game-wrapper.text-center
			div.in-game-content
				h2#topText
				p#bottomText

				button#restartGame.filled Restart


	div.header
		div#playr-info-wrapper

			div.player1-wrapper
				h4.tight#playr1

			div.score-wrapper
				div.score
					h4.tight 
						span#score1 0
						span#score2 0

			div.player2-wrapper
				h4.tight#playr2
		

	div#chat
		div.chat-wrapper
			div.chat-content

				div.messages


				form#messageForm
					input(type='text' autocomplete="off" id='message' placeholder='Type a messsage')



	div#super-board-wrapper
		div#board-wrapper

			div#board-content
				div#board
					div.block.block1(data-num=0)
					div.block.block2(data-num=1)
					div.block.block3(data-num=2)
					div.block.block4(data-num=3)
					div.block.block5(data-num=4)
					div.block.block6(data-num=5)
					div.block.block7(data-num=6)
					div.block.block8(data-num=7)
					div.block.block9(data-num=8)
						
