doctype html
html
  head
    title X/O
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/grids.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
    link(rel='prefetch', href='/images/circle.svg')
    link(rel='prefetch', href='/images/cross.svg')
    link(rel='prefetch', href='/images/waiting.gif')
    meta(name="viewport", content="width=device-width, initial-scale=1") 
    script(src='/bin/peer.min.js', text='type/javascript')
    script(src='/bin/jquery-3.1.0.min.js', type='text/javascript')
    script(src='/bin/underscore-min.js', type='text/javascript')
    //- stupid meta tags
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@candhforlife')
    meta(name='twitter:creator', content='@candhforlife')
    meta(name='twitter:title', content='X/O')
    meta(name='twitter:description', content='A multiplayer tictactoe game over websockets.')
    meta(name='twitter:image', content='http://i.imgur.com/MuFy3id.png')


    meta(name='author', content='X/O')
    meta(name='subject', content='Personal')
    meta(name='Description', content='A tic tac toe game on websockets')
    meta(name='Language', content='English')
    meta(name='Copyright', content='X/O')
    meta(name='Designer', content='@candhforlife')
    meta(name='Publisher', content='@candhforlife')
    meta(name='distribution', content='Global')
    meta(name='Robots', content='INDEX,FOLLOW')
    meta(name='zipcode', content='54000')
    meta(name='city', content='Lahore')

    meta(property='og:url', content='http://ticx.herokuapp.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='X/0')
    meta(property='og:description', content='A multiplayer tic tac toe game')
    meta(property='og:image', content='http://i.imgur.com/MuFy3id.png')




    
  body.rp-image
    block content






    script(src='js/script.js', type='text/javascript')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-84040501-1', 'auto');
      ga('send', 'pageview');
