#credits {
    font-size: 11px;
}
.tight {
    margin: 0;
    padding 0;
}

body {
    background: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.header {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
}

#hero {
    /*visibility: hidden;*/
    background: black;
    color: #333;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.hero-wrapper {
    background: white;
    height: 500px;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content img {
    pointer-events: none;
}
.no-click{
    pointer-events: none;
}
.hero-content-hidden-start {
    display: none;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
.hidden-content-join{
    width: 330px;
}
.hero-content-hidden-join {
    display: none;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

#waiting {
    background-image: url('../images/waiting.gif');
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.disabled {
    color: #333;
}

.hero-wrapper input,
button {
    width: 100%;
}

#pid {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
}

#super-board-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#board-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    font-size: 0;
}

#board * {
    display: inline-block;
    width: 133.310px;
    height: 133.310px;
    margin: 0;
}


.block1 {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
}

.block2 {
    padding: 10px;
    box-sizing: border-box;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.block3 {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
}

.block4 {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
}

.block5 {
    padding: 10px;
    box-sizing: border-box;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.block6 {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
}

.block8 {
    padding: 10px;
    box-sizing: border-box;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#circle {
      max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#cross {
      max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.block7 {
    padding: 10px;
    box-sizing: border-box;
}

.block9 {
    padding: 10px;
    box-sizing: border-box;
}

.player1-wrapper {
    margin: 20px 50px;
    display: inline-block;
}

.player2-wrapper {
    margin: 20px 50px;
    float: right;
    display: inline-block;
}

.score {
    display: inline-block;
}

.score-wrapper {
    margin: 20px 0px;
    top: 0;
    position: absolute;
    float: left;
    width: 100%;
    text-align: center;
}

.circle-small {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    font-size: 0;
    border: 2px solid white;
    border-radius: 50%
}

.cross-small {
    position: absolute;
    right: 0;
    top: 0;
}

#inGame {
    display: none;
    background: rgba(44, 62, 80, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}

.in-game-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.in-game-content {
    width: 350px;
}

#score1::after {
    content: ' — '
}


#chat {
    display: none;
    background: pink;
    box-sizing: border-box;
    z-index: 19999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#chat input {
    border:none;
        box-sizing: border-box;
    width: 100%;
    background: none;   
}
.chat-wrapper{
    position: relative;
}
.chat-content {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.messages {
    overflow-y : scroll;
        width: 100%;
        height: 50px;
    border-bottom: 1px solid white;
    padding: 10px;
    box-sizing: border-box;

}
.message1 {
    color: gray;
}
.message2 {
 
    font-weight: bold;
}
.messages::-webkit-scrollbar-track {
    border-radius: 10px;
}

.messages::-webkit-scrollbar {
    width: 4px;
    margin:0px 5px;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .6);
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .6);
}

/*animated*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

-webkit-transform: scale3d(1.05,
.95,
1);
transform: scale3d(1.05,
.95,
1);

}
to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

}
@-webkit-keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}
